<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="home-container">
        <h1>Welcome to the Home Page</h1>
        <p>Please select what you want to do:</p>
        <button onclick="window.location.href='/clients';">See/Add Clients</button>
        <button onclick="window.location.href='/payments';">Check/Add Payments</button>

        <hr>

        <!-- Add a section for account-related actions -->
        <div class="account-actions">
            <form action="{{ url_for('delete_account') }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account? This action will delete the database and your user information and it cannot be undone.')">
                <button type="submit" class="btn btn-danger">Delete Account</button>
            </form>

            <!-- Logout Button -->
            <form action="{{ url_for('logout') }}" method="get">
                <button type="submit" class="btn btn-secondary">Logout</button>
            </form>
        </div>
    </div>
</body>
</html>
